* {
  padding: 0;
  margin: 0;
}

:root {
  /*background e border*/
  --background-default: #f5f4f0;
  --border-primary: #d9d9d9;

  /*text*/
  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;

  /*accent*/
  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
  text-align: center;
  margin-bottom: 20px;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  width: 70rem;
  height: 1.3rem;
  margin-bottom: 2.5rem;
}
span.headline {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-headline);
}

#accent-purple {
  color: var(--accent-purple);
}

#accent-pink {
  color: var(--accent-pink);
}

#accent-orange {
  color: var(--accent-orange);
}

h2 {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 1rem;
  margin: 5px 0 20px;
  gap: 4rem;
}

h3 {
    margin-top: 1.25rem;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--text-primary);
}
img {
  width: 100%;
  border-radius: 1.75rem;
}
p {
  color: var(--text-secondary);
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 4rem;
}
.intro {
  font-style: italic;
  text-align: center;
  font-size: 14px;
  color: var(--text-secondary);
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.tags {
  margin-bottom: 3rem;
}
.tags a {
  color: var(--accent-blue);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  margin-right: 10px;
}

.tags li {
  display: block;
}

.tags span {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}

label{
    font-size: 1rem;
    font-weight: 700;
}
footer {
  text-align: center;
  font-size: 12px;
  color: var(--text-secondary);
  margin-top: 4.06rem;
  margin-bottom: 2.5rem;
  & img {
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
  }
}
